/* style.css */

body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

#game-container {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    border: 2px solid #444;
}

canvas {
    background-color: #2b2b2b;
    /* 战场地面颜色 */
    display: block;
}